.main-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:5%;
  margin-top: 0%;
   bottom: 4rem;
}

.experince{
    top: 10%;
}

.images{
    padding: 3rem;
    max-width: 100%;
    height: auto;
    display: flex;
    position: relative;   
}
 .image1{
 position: absolute;
 left: 27%;
 top:340%;
 height: 350px;
 width: 500px;
 }
.image2{
    position: absolute;
    left:55%;
    top:345%;
    height:380px;
    width: 230px;

   
}
.title{
    margin-top: 7%;
  
}