
.footer__title {
    margin-bottom: .5rem;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
   
   
   
}
* {
    box-sizing: border-box;
    margin: 0;
}

.footer__title, .footer__subtitle {
    font-size: 1.25rem;
}

h3 {
    color: hsl(190, 64%, 18%);
    font-weight: 600;
    font-family: 'Raleway', sans-serif;;
}
.footer__description {
    margin-bottom:2rem;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
ul {
    list-style: none;
}

.footer__social {
    font-size: 1.25rem;
    color: hsl(190, 64%, 18%);
    margin-right: 1.25rem;
}
a {
    text-decoration: none;
    display: flex;
  
   
    
}
a:-webkit-any-link {
    cursor: pointer;
}
.ri-{
    font-family: 'remixicon' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.footer__subtitle {
    margin-bottom:1rem;
}
.footer__item {
    margin-bottom: 0-75;
}
.footer__link {
    color:hsl(190, 24%, 35%) ;
}
.footer__copy, .footer__terms-link {
    font-size: .875rem;
    color: hsl(190, 17%, 33%) ;
}
.footer__terms {
    display: flex;
    column-gap: 1.5rem;
    justify-content: center;
}
@media screen and (min-width: 768px) {
    .section {
        padding: 7rem 0 2rem;
    }
}

.grid {
    display: grid;
    gap: 1.5rem;
}
@media screen and (min-width: 1024px) {
    .footer__content {
        justify-items: center;
    }
}


.footer__content {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
}
/* scroll up */
show-scroll {
    bottom: 5rem;
}
.scrollup {
    position: fixed;
    right: 1rem;
    /* bottom: -20%; */
    background-color: hsl(190, 64%, 28%);;
    padding: .5rem;
    display: flex;
    opacity: .9;
    z-index: 10;
    transition: .4s;
}

a {
    text-decoration: none;
}
.scrollup__icon {
    color: white;
    font-size: 1.2rem;
}